
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Hi {{vm.user.firstName}}!!</h1>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" ng-model="query" class="form-control input-lg" placeholder="Book Name" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button" ng-click="vm.searchBooks(query)">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>